<div class="page-container2">
  <h4 style="text-align: center;">Proje Kapatma İşlemleri</h4>
  <section class="statistic">
    <div class="container-fluid container-fluid-css mb-5" id="form1">
      <div class="row">
        <div class="col-sm-6 form-group">
        <label for="DateD">Proje No</label>
        <input
          type="text"
          class="form-control"
          id="form1text1"
          formControlName="projectNumber1"
          required
          disabled
        />

      </div>

      <div class="col-sm-6 form-group">
        <label for="DateD">Proje Adı</label>
        <input
          type="text"
          class="form-control"
          id="form1text2"
          formControlName="demandDate"
          required
          disabled
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
      <label for="DateD">Proje Tipi</label>
      <input
        type="text"
        class="form-control"
        id="form1text3"
        formControlName="demandDate"
        required
        disabled
      />
    </div>

    <div class="col-sm-6 form-group">
      <label for="DateD">Müşteri</label>
      <input
        type="text"
        class="form-control"
        id="form1text4"
        formControlName="demandDate"
        required
        disabled
      />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 form-group">
    <label for="DateD">Talep Eden</label>
    <input
      type="text"
      class="form-control"
      id="form1text5"
      formControlName="demandDate"

      required
      disabled
    />
  </div>

  <div class="col-sm-6 form-group">
    <label for="DateD">Proje Sorumlusu</label>
    <input
      type="text"
      class="form-control"
      id="form1text6"
      formControlName="demandDate"
      required
      disabled
    />
  </div>
</div>
      <div class="row">
        <div class="col-sm-6 form-group">
        <label for="DateD">Talep Tarihi</label>
        <input
          type="Date"
          name="dob"
          class="form-control"
          id="form1text7"
          formControlName="demandDate"
          placeholder=""
          required
          disabled
        />
      </div>

      <div class="col-sm-6 form-group">
        <label for="DateD">Teslim Tarihi</label>
        <input
          type="Date"
          name="dob"
          class="form-control"
          id="form1text8"
          formControlName="demandDate"
          placeholder=""
          required
          disabled
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
      <label for="DateD">Fiili Teslim Tarihi</label>
      <input
        type="Date"
        name="dob"
        class="form-control"
        id="form1text9"
        formControlName="demandDate"
        placeholder=""
        required
      />
    </div>

    <div class="col-sm-3 form-group"  [ngClass]="{'project-closing-button': !isClosing}">
      <label for="DateD">&nbsp;</label>
      <button class="btn success"  style="background-color: #94c11f; color: white; width: 100%;"[disabled]="isActive" [hidden]="isVisible" (click)="save()">Kaydet</button>
    </div>
    <div class="col-sm-3 form-group" [ngClass]="{'project-closing-button': !isClosing}" >
      <label for="DateD">&nbsp;</label>
      <button class="btn btn-danger" (click)="sendClosing()" [disabled]="isActive" [hidden]="isVisible" style=" width: 100%;">Proje Kapatma</button>
    </div>

    <div class="col-sm-3 form-group" [ngClass]="{'project-closing-button': !isManager}">
      <label for="DateD">&nbsp;</label>
      <button class="btn btn-primary" (click)="projectClose()"  style=" width: 100%;">Projeyi Kapat</button>
    </div>
    <div class="col-sm-3 form-group" [ngClass]="{'project-closing-button': !isManager}">
      <label for="DateD">&nbsp;</label>
      <button class="btn btn-warning" (click)="projectReject()"  style=" width: 100%; color:white;">Geliştirme Sürecine Geri Gönder</button>
    </div>
  </div>

  </div>
    <c-nav variant="tabs">
      <c-nav-item class="tab">
        <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink>
          Proje Planı
        </a>
      </c-nav-item>
      <c-nav-item class="tab">
        <a  [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>
         Kapanış Dosyaları
        </a>
      </c-nav-item>

    </c-nav>
    <c-tab-content #tabContent="cTabContent" [activeTabPaneIdx]="1">


      <!-- example: *ngIf activeTabPaneIdx === 0 disables third cNavLink -->
      <c-tab-pane  class="p-3" #tab1>
        <div class="container-fluid container-fluid-tab mt-2">
          <div class="container-fluid container-fluid-tab mt-2">
            <div id="headerProjectPlan" class="row mt-3" style="text-align: center; font-weight: 500;">
              <div class="col-sm-1"><label for="">Onay</label></div>
              <div class="col-sm-1"><label for=""></label></div>
              <div class="col-sm-10"><label for="">Onay Açıklaması</label></div>
            </div>
          </div>
          <div class="mt-3" id="form2MainDiv" >

            <div class="row">
              <div class="col-sm-6 form-group" >
                <label class="form-control2">
                  <input id="form2Input1" type="checkbox" name="checkbox" />
                  Ekipman envanter, İSG ve bakım takvimi kayıtlarına eklendi mi?
                </label>
            </div>

            <div class="col-sm-6 form-group">
              <input
                type="text"
                class="form-control"
                id="form2text1"
                formControlName="demandDate"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 form-group">
              <label class="form-control2">
                <input type="checkbox" name="checkbox" />
                Ekipmanın IAS kayıtları yapıldı mı?
              </label>
          </div>

          <div class="col-sm-6 form-group">

            <input
              type="text"
              class="form-control"
              id="form5text4"
              formControlName="demandDate"
              required
            />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <label class="form-control2">
              <input type="checkbox" name="checkbox" />
              Teknik çizim hazırlandı mı?
            </label>
        </div>

        <div class="col-sm-6 form-group">

          <input
            type="text"
            class="form-control"
            id="form5text6"
            formControlName="demandDate"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 form-group">
          <label class="form-control2">
            <input type="checkbox" name="checkbox" />
            Elektrik devre şeması hazırlandı mı?
          </label>
      </div>

      <div class="col-sm-6 form-group">

        <input
          type="text"
          class="form-control"
          id="form5text8"
          formControlName="demandDate"
          required
        />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 form-group">
        <label class="form-control2">
          <input type="checkbox" name="checkbox" />
          Kullanım talimatı hazırlandı mı ?
        </label>
    </div>

    <div class="col-sm-6 form-group">

      <input
        type="text"
        class="form-control"
        id="form5text10"
        formControlName="demandDate"
        required
      />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 form-group">
      <label class="form-control2">
        <input type="checkbox" name="checkbox" />
        Ekipman kimlik kartı hazırlandı mı?
      </label>
  </div>

  <div class="col-sm-6 form-group">

    <input
      type="text"
      class="form-control"
      id="form5text12"
      formControlName="demandDate"
      required
    />
  </div>
</div>

<div class="row">
  <div class="col-sm-6 form-group">
    <label class="form-control2">
      <input type="checkbox" name="checkbox" />
      Bakım talimatı hazırlandı mı?
    </label>
</div>

  <div class="col-sm-6 form-group">

  <input
    type="text"
    class="form-control"
    id="form5text13"
    formControlName="demandDate"
    required
  />
</div>
</div>
<div class="row">
  <div class="col-sm-6 form-group">
    <label class="form-control2">
      <input type="checkbox" name="checkbox" />
      İş güvenliği önlemleri alındı mı?
    </label>
</div>

  <div class="col-sm-6 form-group">

  <input
    type="text"
    class="form-control"
    id="form5text13"
    formControlName="demandDate"
    required
  />
</div>
</div>
<div class="row">
  <div class="col-sm-6 form-group">
    <label class="form-control2">
      <input type="checkbox" name="checkbox" />
      İş Güvenliği Uzmanı tarafından denetlenip, raporu dolduruldu mu?
    </label>
</div>

  <div class="col-sm-6 form-group">

  <input
    type="text"
    class="form-control"
    id="form5text13"
    formControlName="demandDate"
    required
  />
</div>
</div>
<div class="row">
  <div class="col-sm-6 form-group">
    <label class="form-control2">
      <input type="checkbox" name="checkbox" />
      Kritik yedek parça listesi hazırlandı mı?
    </label>
</div>

  <div class="col-sm-6 form-group">

  <input
    type="text"
    class="form-control"
    id="form5text13"
    formControlName="demandDate"
    required
  />
</div>
</div>
<div class="row">
  <div class="col-sm-6 form-group">
    <label class="form-control2">
      <input type="checkbox" name="checkbox" />
      Ekipmanın teknik bilgilerinin (çalışma voltajı, güç, bar vb.) demirbaş kimliği hazırlandı mı?
    </label>
</div>

  <div class="col-sm-6 form-group">

  <input
    type="text"
    class="form-control"
    id="form5text13"
    formControlName="demandDate"
    required
  />
</div>
</div>

          </div>
        </div>
      </c-tab-pane>

      <c-tab-pane  class="p-3" #tab2>
        <div class="container-fluid container-fluid-tab mt-2">
          <div class="col-sm-12 mt-2">
            <div class="card">
                <div class="card-header">
                    <h5>Dosyalarım</h5>
                </div>
                <div class="card-block table-border-style">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Dosya Adı</th>
                                    <th>Tipi</th>
                                    <th>Yükleme Tarihi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let file of files let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td> <a [href]="file.Url" download="{{file.FileName}}">{{file.FileName}}</a></td>
                                    <td>{{file.Type}}</td>
                                    <td>{{file.UploadDate}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-1 ">
          <div class="col-sm-6 form-group">
          <input id="photo" name="studentPhoto" type="file" (change)="getFile($event)" class="form-control">
          </div>
          <div class="col-sm-6 form-group">
        <button class="btn btn-primary" (click)="sendFile()">Dosyayı Kaydet</button>
          </div>
        </div>

        <!-- <a [href]="url" download="3.{{type}}">DownloadFile</a> -->
        <!-- <a [href]="url" download="file.txt">DownloadFile</a> -->

      </div>
      </c-tab-pane>
    </c-tab-content>

  </section>
</div>
