<div class="page-container2">
  <section class="statistic" style="background-color: white;">
    <div
      class="section__content section__content--p30"
      style="margin-top: -30px"
    >
      <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning table-responsive-my-setting ">
          <thead>
            <tr >
              <th>Onay Durumu</th>
              <th>Proje Kodu</th>
              <th>Proje tipi</th>
              <th>Proje Adı</th>
              <th>Durumu</th>
              <th>Talep Eden</th>
              <th>Sorumlu</th>
              <th>Talep tarihi</th>
              <th>İstenilen Teslim tarihi</th>
              <th>Teslim tarihi</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2018-09-29 05:57</td>
              <td>100398</td>
              <td>iPhone X 64Gb Grey</td>
              <td>$999.00</td>
              <td>1</td>
              <td>$999.00</td>
              <td>iPhone X 64Gb Grey</td>
              <td>$999.00</td>
              <td>1</td>
              <td>$999.00</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
