<div class="page-container2">
  <h3 style="text-align: center;">Projeler</h3>
  <section class="statistic">
    <div
      class="section__content section__content--p30"
      style="margin-top: -30px"
    >
    <div>


  </div>
  <form >
    <div class="search-container">
      <input id="search" [(ngModel)]="search" type="text"  name="something"  class="fontAwesome"  placeholder="&#xf002; Search" autocomplete="off" style="text-transform:lowercase" autofocus required  />
    </div>

      <div class="table-responsive table--no-card m-b-30 mt-4 Container Flipped">
        <table class="table table-borderless table-striped table-earning table-responsive-my-setting" >
          <thead>
            <tr>
              <th>Proje Kodu</th>
              <th>Proje tipi</th>
              <th>Durum</th>
              <th>Proje Adı</th>
              <th>Talep Eden</th>
              <th>Sorumlu</th>
              <th>Talep tarihi</th>
              <th>Teslim tarihi</th>
              <th>Planlanan Teslim tarihi</th>

            </tr>
          </thead>
          <tbody style="font-size: 14px;" >
            <tr *ngFor="let demand of demandList | filter:search" (click)="showDemand($event)">
              <td >{{demand.ProjectNumber}}</td>
              <td>{{demand.ProjectType}}</td>
              <td>{{demand.Status}}</td>
               <td  title="{{demand.ProjectName}}"> {{(demand.ProjectName | limitTo : '35')}}</td>
              <td>{{demand.Requester}}</td>
              <td>{{demand.Engineer}}</td>
              <td>{{demand.DemandDate}}</td>
              <td>{{demand.DeliveryDate}}</td>
              <td>{{demand.PlannedDeliveryDate}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </form>
    </div>
  </section>
</div>
