<div class="page-container2">

  <section class="statistic">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="table-responsive table-responsive-data2">
          <table class="table table-data2">
            <thead>
              <tr>
                <th>
                  <label class="au-checkbox"> </label>
                </th>
                <th><h6>Proje Kodu</h6></th>
                <th><h6>Proje Adı</h6></th>
                <th><h6>Proje Tipi</h6></th>
                <th><h6>Müşteri</h6></th>
                <th><h6>Talep Eden</h6></th>
                <th><h6>Talep Tarihi</h6></th>
                <th><h6>Sorumlu</h6></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr id="demandTr" class="tr-shadow"  *ngFor="let demand of demands let i = index"
              [class]="{'bg-true':demand.Checked,'bg-false':!demand.Checked}">
                <td>
                  <label class="au-checkbox">
                    <input type="checkbox" (change)="checkBoxControl($event)" id="chckBx{{i}}" />
                    <span class="au-checkmark"></span>
                  </label>
                </td>
                <td projectNumber="" style="font-weight: 500"  routerLink="/demands/add/{{demand.ProjectNumber}}">{{ demand.ProjectNumber }}
                </td>
                <td routerLink="/demands/add/{{demand.ProjectNumber}}">
                  <span class="desc"  >{{ demand.ProjectName }}</span>
                </td>
                <td class="desc"  routerLink="/demands/add/{{demand.ProjectNumber}}" >Yazılım</td>
                <td>2018-09-27</td>
                <td>
                  <span class="status--process"  routerLink="/demands/add/{{demand.ProjectNumber}}">Processed</span>
                </td>
                <td>2022-09-27</td>

                <td  >
                  <span style="font-size: 15px;" [class]="{'bg-responsible':!responsibleVisible}" >Fatih Cengiz</span>
                  <select id="cmbBx{{i}}" class="form-control custom-select browser-default" [class]="{'bg-responsible':responsibleVisible}" >
                     <option  value="{{engineer.id}}" *ngFor="let engineer of responsibleEngineer" >{{engineer.name}}</option>


                  </select>
                </td>

                <td>
                  <div class="table-data-feature">
                    <!-- <button
                      class="item mr-3"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Onayla"

                      (click)="demandConfirm($event,2,'Seçili proje talepleri onaylanacak emin misiniz ?','Talepler Onaylandı !')"
                    >
                      <i class="zmdi zmdi-check"></i>
                    </button>
                    <button
                      class="item mr-3 item-negative"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Reddet"

                    >
                      <i class="zmdi zmdi-close"></i>
                    </button> -->
                    <!-- <button
                      class="item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Delete"
                    >
                      <i class="zmdi zmdi-delete"></i>
                    </button>
                    <button
                      class="item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="More"
                    >
                      <i class="zmdi zmdi-more"></i>
                    </button> -->
                  </div>
                </td>

              </tr>
              <tr class="spacer"></tr>
              <!--    <tr class="tr-shadow">
                <td>
                  <label class="au-checkbox">
                    <input type="checkbox" />
                    <span class="au-checkmark"></span>
                  </label>
                </td>
                <td>Lori Lynch</td>
                <td>
                  <span class="desc">john@example.com</span>
                </td>
                <td class="desc">iPhone X 64Gb Grey</td>
                <td>2018-09-29</td>
                <td>
                  <span class="status--process">Processed</span>
                </td>
                <td>$999.00</td>
                <td>
                  <div class="table-data-feature">
                    <button
                      class="item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Send"
                    >
                      <i class="zmdi zmdi-mail-send"></i>
                    </button>
                    <button
                      class="item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Edit"
                    >
                      <i class="zmdi zmdi-edit"></i>
                    </button>
                    <button
                      class="item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Delete"
                    >
                      <i class="zmdi zmdi-delete"></i>
                    </button>
                    <button
                      class="item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="More"
                    >
                      <i class="zmdi zmdi-more"></i>
                    </button>
                  </div>
                </td>
              </tr>
             <tr class="spacer"></tr>
              <tr class="tr-shadow">
                <td>
                  <label class="au-checkbox">
                    <input type="checkbox" />
                    <span class="au-checkmark"></span>
                  </label>
                </td>
                <td>Lori Lynch</td>
                <td>
                  <span class="desc">lyn@example.com</span>
                </td>
                <td class="desc">iPhone X 256Gb Black</td>
                <td>2018-09-25</td>
                <td>
                  <span class="status--denied">Denied</span>
                </td>
                <td>$1199.00</td>
                <td>
                  <div class="table-data-feature">
                    <button
                      class="item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Send"
                    >
                      <i class="zmdi zmdi-mail-send"></i>
                    </button>
                    <button
                      class="item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Edit"
                    >
                      <i class="zmdi zmdi-edit"></i>
                    </button>
                    <button
                      class="item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Delete"
                    >
                      <i class="zmdi zmdi-delete"></i>
                    </button>
                    <button
                      class="item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="More"
                    >
                      <i class="zmdi zmdi-more"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <tr class="spacer"></tr>
               <tr class="tr-shadow">
                <td>
                  <label class="au-checkbox">
                    <input type="checkbox" />
                    <span class="au-checkmark"></span>
                  </label>
                </td>
                <td>Lori Lynch</td>
                <td>
                  <span class="block-email">doe@example.com</span>
                </td>
                <td class="desc">Camera C430W 4k</td>
                <td>2018-09-24</td>
                <td>
                  <span class="status--process">Processed</span>
                </td>
                <td>$699.00</td>
                <td>
                  <div class="table-data-feature">
                    <button
                      class="item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Send"
                    >
                      <i class="zmdi zmdi-mail-send"></i>
                    </button>
                    <button
                      class="item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Edit"
                    >
                      <i class="zmdi zmdi-edit"></i>
                    </button>
                    <button
                      class="item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Delete"
                    >
                      <i class="zmdi zmdi-delete"></i>
                    </button>
                    <button
                      class="item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="More"
                    >
                      <i class="zmdi zmdi-more"></i>
                    </button>
                  </div>
                </td>
              </tr> -->
            </tbody>
          </table>

          <div class="top-config">
            <input id="chckBxAll" type="checkbox" (change)="selectAll()" />
            <label for="ac" style="margin-left: 5px; font-weight: 600;" class="mr-3">Tümünü Seç</label>
            <button type="button" class="btn btn-square btn-success mr-3" (click)="selectedDemandConfirm(2,'Seçili proje talepleri onaylanacak emin misiniz ?','Talepler Onaylandı !')" >Onayla</button>
            <button type="button" class="btn btn-square btn-danger " (click)="selectedDemandConfirm(9,'Seçili proje talepleri reddedilecek emin misiniz ?','Talepler Reddedildi !')">Reddet</button>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
