.top-config
{
  border-color: #EEEEEE;
  border-style: none none groove none;
  padding: 10px;
}
.bg-true
{
   background-color: #DDDDDD;
}
.bg-false
{
  background-color: white;
}
.bg-responsible{
  display: none;
}
