label {
  font-weight: 600;
  color: #555;
}
textarea{
  height: 150px;
}
input ,select,textarea{
  background-color: white !important;
}
.btn-primary {
  width: 50%;
}
@media (max-width: 576px) {
  .btn-primary {
      width: 100%;
  }
  .mt-res {
    margin-top: 5px !important;
}
}
.confirmButton{
  margin-right: 20px;
}
.btn-visible{
  display: none;
}

