<div class="page-container2">
  <section class="statistic">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <form  [formGroup]="demandForm"  *ngIf="this.demandForm"  autocomplete="off" >
          <h2 class="text-center mb-4">{{projectNameHeader}}</h2>
          <div class="row" id="demandForm">
            <div class="col-sm-6 form-group">
              <label for="name-p">Proje Adı</label>
              <input
                type="search"
                class="form-control"
                name="Pname"
                id="name-p"
                formControlName="projectName"
                required

              />

            </div>
            <div class="col-sm-6 form-group">
              <label for="type-p">Proje Tipi</label>
              <select  formControlName="projectType" class="form-control custom-select browser-default">
                <option value="Bilister Kalıbı">Bilister Kalıbı</option>
                <option value="Elektronik Kart">Elektronik Kart</option>
                <option value="Fikstür / Aparat">Fikstür / Aparat</option>
                <option value="Makina / Cihaz">Makina / Cihaz</option>
                <option value="Mekanik Tasarım">Mekanik Tasarım</option>
                <option value="Patent Projesi">Patent Projesi</option>
                <option value="Revizyon İsteği">Revizyon İsteği</option>
                <option value="Taşıma Arabası">Taşıma Arabası</option>
                <option value="Temel Araştırma">Temel Araştırma</option>
                <option value="TestJigi">TestJigi</option>
                <option value="Yazılım">Yazılım</option>

              </select>
            </div>
            <div class="col-sm-2 form-group">
              <label for="type-d">Talep Şekli</label>
              <select formControlName="demandType" class="form-control custom-select browser-default">
                <option value="Müşteri Talebi">Müşteri Talebi</option>
                <option value="İşletme Talebi">İşletme Talebi</option>
              </select>
            </div>

            <div class="col-sm-4 form-group">
              <label for="customer">Müşteri Adı ve Kodu</label>
              <select formControlName="customer" class="form-control custom-select browser-default">
                <option value="{{customer.Customer}}" *ngFor="let customer of getCustomerResponse">{{customer.Customer}}</option>

              </select>
            </div>

            <div class="col-sm-3 form-group">
              <label for="DateD">Talep Tarihi</label>
              <input
                type="Date"
                name="dob"
                class="form-control"
                id="DateD"
                formControlName="demandDate"
                placeholder=""
                required
                readonly
              />
            </div>
            <div class="col-sm-3 form-group">
              <label for="DeliveryD">Teslim Tarihi</label>
              <input
                type="Date"
                name="dob"
                class="form-control"
                id="DeliveryD"
                formControlName="deliveryDate"
                placeholder=""
                required
              />
            </div>


            <div class="col-sm-3 form-group">
              <label for="tesisCode">Tesis Kodu</label>
              <select
                id="tesisCode"
                class="form-control browser-default custom-select"
                formControlName="facilityCode"
              >
                <option value="01">01</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="50">50</option>
                <option value="ACR">ACR</option>
                <option value="ARG">ARG</option>
              </select>
            </div>
            <div class="col-sm-3 form-group">
              <label for="quantity">Miktar</label>
              <input
                type="Number"
                name="cnf-password"
                class="form-control"
                id="quantity"
                formControlName="quantity"
                min="0"
                required
              />
            </div>
            <div class="col-sm-6 form-group">
              <h6 hidden>empty</h6>
              <input
              type="Number"
              name="cnf-password"
              class="form-control"
              id="quantity"
              formControlName="quantity"
              required
              hidden
            />
            </div>
            <div class="col-sm-6 form-group">
              <label for="feature1">Beklenen Temel Foksiyonlar</label>
              <textarea
                type="text"
                class="form-control"
                name="Pname"
                id="feature1"
                formControlName="feature1"
                style="resize: none;"
                required
              ></textarea>
            </div>
            <div class="col-sm-6 form-group">
              <label for="feature2">Foksiyonel ve Teknik Özellikler</label>
              <textarea
                type="search"
                class="form-control "
                name="Pname"
                id="feature2"
                formControlName="feature2"
                style="resize: none;"
                required
              ></textarea>
            </div>
            <div class="col-sm-6 form-group">
              <label for="feature3">Mekanik Özellikler</label>
              <textarea
                type="search"
                class="form-control "
                name="Pname"
                id="feature3"
                formControlName="feature3"
                style="resize: none;"

              ></textarea>

            </div>
            <div class="col-sm-6 form-group">
              <label for="feature4">Elektriksel Özellikler</label>
              <textarea
                type="search"
                class="form-control "
                name="Pname"
                id="feature4"
                formControlName="feature4"
                style="resize: none;"

              ></textarea>

            </div>
            <div class="col-sm-6 form-group">
              <label for="feature5">İlgili Standartlar</label>
              <textarea
                type="search"
                class="form-control "
                name="Pname"
                id="feature5"
                formControlName="feature5"
                style="resize: none;"

              ></textarea>

            </div>
            <div class="col-sm-6 form-group">
              <label for="feature6">Elektrik komponentleri ile ilgili detaylı bilgi</label>
              <textarea
                type="search"
                class="form-control "
                name="Pname"
                id="feature6"
                formControlName="feature6"
                style="resize: none;"
              ></textarea>

            </div>

            <div class="col-sm-3 form-group">
              <input
                type="Text"
                name="dob"
                class="form-control"
                id="DeliveryD"
                formControlName="requester"
                required
                hidden
              />
            </div>
            <div>

            </div>
            <div class="col-sm-3 form-group"
            [class]="{'btn-visible':btnVisible}">
              <button class="btn float-right" (click)="demandSave()" style="background-color: #94c11f; color: white; width: 100%;">Kaydet</button>
            </div>
            <div class="col-sm-3 form-group"
            [class]="{'btn-visible':btnVisible}">
              <button class="btn btn-danger float-left " (click)="demandRemove()" style="color: white; width: 100%;" >Sil</button>
            </div>
            <div class="col-sm-6 form-group"
            [class]="{'btn-visible':btnVisible}">
              <button class="btn btn-primary float-right" (click)="demandAdd()" style="color: white;">Gönder</button>
            </div>

            <div class="row" [hidden]="isVisible">
              <div class="col-sm-2 form-group ">
                <label for="type-d">Sorumlu</label>
                <select  id="selectResponsible" class="form-control custom-select browser-default">
                  <option  value="0" disabled selected hidden> </option>
                  <option  value="{{engineer.ID}}" *ngFor="let engineer of getUserAllResponse" >{{engineer.Name}} {{engineer.Surname}}</option>

                </select>
              </div>
              <div class="col-sm-2 form-group">
                <button class="btn btn-success" (click)="assigntResposible()"  style="color: white; margin-top: 30px; width: 100%;">Onayla</button>
              </div>
              <div class="col-sm-2 form-group">
                <button class="btn btn-danger mt-res" (click)="demandReject()"  style="color: white; margin-top: 30px; width: 100%;">Reddet</button>
              </div>
            </div>
            </div>




        </form>
      </div>
    </div>
  </section>
</div>
