label {
  font-weight: 600;
  color: #555;
}
textarea{
  height: 150px;
}
.btn-primary {
  width: 50%;
}
@media (max-width: 576px) {
  .btn-primary {
      width: 100%;
  }
}
.confirmButton{
  margin-right: 20px;
}
