<div class="page-container2">
  <h4 style="text-align: center;">Projelerim</h4>
  <section class="statistic">


    <div class="section__content section__content--p30" style="margin-top: -50px;">
      <div class="container-fluid">
        <div class="table-responsive table-responsive-data2">
          <table class="table table-data2">
            <thead>
              <tr>
                <th>
                  <label class="au-checkbox"> </label>
                </th>
                <th><h6>Proje Kodu</h6></th>
                <th><h6>Proje Tipi</h6></th>
                <th><h6>Durum</h6></th>
                <th><h6>Proje Adı</h6></th>
                <th><h6>Müşteri</h6></th>
                <th><h6>Talep Eden</h6></th>
                <th><h6>Talep Tarihi</h6></th>
                <th><h6>İstenen Talep Tarihi</h6></th>

                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr id="demandTr" class="tr-shadow"  *ngFor="let demand of demands let i = index"
              routerLink="/projects/project-plannig-add/{{demand.ProjectNumber}}"
              [class]="{'bg-true':demand.Checked,'bg-false':!demand.Checked}" >
                <td >

                </td>
                <td projectNumber="" style="font-weight: 500; color: #2192FF;" (click)="getEvent($event)">{{ demand.ProjectNumber }}
                </td>
                <td ><span class="status--process">{{ demand.ProjectType }}</span></td>
                <td >
                  {{ demand.Status }}
                 </td>
                <td (click)="getEvent($event)" >
                 {{ demand.ProjectName }}
                </td>

                <td>{{ demand.Customer }}</td>
                <td class="status--process">{{ demand.Requester }}
                </td>
                <td>{{ demand.DemandDate }}</td>

                <td style="font-size: 15px; font-weight: 500;" >
                 {{demand.DeliveryDate}}
                </td>

                <td>
                  <div class="table-data-feature  mr-3">
                  </div>
                </td>

              </tr>
              <tr class="spacer"></tr>

            </tbody>
          </table>



        </div>
      </div>
    </div>
  </section>
</div>
